################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
.ionide
.vscode
.vs
_ReSharper.*
bin
obj
packages
publish
local
serviceDependencies*.json
launchSettings.json
appsettings.json
appsettings.*.json
*.pubxml
